<!DOCTYPE html>
<html lang="en">

<% include header %>

<body>

    <% include navbar %>

    <div class="container">

        <!--put video stuff here-->
        
        <% include button %>

        <hr>

        <div class="jumbotron hero-spacer">
            <font size="+10" face="Comic Sans MS">
                <h1>SimpleTalk</h1>
                <p>A platform that interprets sign language and screams it to the world!</p>
            </font>
        </div>


        <hr>

    <% include footer %>

    </div>
    <!-- /.container -->


</body>

</html>
