    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <!--<div class="navbar-header">-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <center>
                <img src="images/simple_talk.png" height="90" width="85">
                </center>
            <!--</div>-->
        </div>
        <!-- /.container -->
    </nav>
